# üßπ Data Cleaning Example with pandas

In [ ]:
import pandas as pd

### üìå Sample dataset

In [ ]:
data = {
    'Name': [' Alice ', 'Bob', 'Clara', None],
    'Age': ['25', 'thirty', '35', '40'],
    'JoinDate': ['2022-01-10', '2022/02/15', '15-03-2022', None]
}

df = pd.DataFrame(data)

In [ ]:
# üîç Preview original data
print("üî∏ Original Data:")
print(df)

### üîπ Step 1: Strip whitespace and convert names to lowercase

In [ ]:
df['Name'] = df['Name'].str.strip().str.lower()

### üîπ Step 2: Convert Age to numeric (coerce errors)

In [ ]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

### üîπ Step 3: Convert JoinDate to datetime

In [ ]:
df['JoinDate'] = pd.to_datetime(df['JoinDate'], errors='coerce')

### üîπ Step 4: Drop rows with missing key values

In [ ]:
df_cleaned = df.dropna(subset=['Name', 'Age', 'JoinDate'])

### ‚úÖ Cleaned Data

In [ ]:
print(df_cleaned)