# üîç Exploratory Data Analysis (EDA)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## 1. Load and Preview Data

In [ ]:
data = pd.DataFrame({
    'age': [25, 30, 45, None, 40, 35, 30],
    'salary': [50000, 60000, 80000, 75000, None, 62000, 61000],
    'department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'HR']
})
data.head()

## 2. Basic Info & Statistics

In [ ]:
print("üìê Shape:", data.shape)
print("\nüìã Info:")
data.info()

print("\nüìä Summary:")
data.describe(include='all')

## 3. Missing Values

In [ ]:
print("üß© Missing values per column:")
print(data.isnull().sum())

## 4. Duplicates

In [ ]:
print("üîÅ Number of duplicates:", data.duplicated().sum())

## 5. Histograms

In [ ]:
data.hist(figsize=(8,4), bins=5)
plt.tight_layout()
plt.show()

## 6. Boxplots (Outliers)

In [ ]:
sns.boxplot(x=data['salary'])
plt.title('Boxplot: Salary')
plt.show()

## 7. Grouped Analysis

In [ ]:
print("üìÇ Mean salary by department:")
print(data.groupby('department')['salary'].mean())